<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MyWorkerServiceInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Tranact" UpgradeCode="c5c4f53d-1e33-48a1-9b89-46c4fc61c933">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MyWorkerServiceInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyWorkerServiceInstaller"  />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MyWorkerService.exe" Guid="4938a28b-3a79-4d37-b6b5-6c372d292684">
				<File Source="C:\Arafath\dragonlocal\TUD2.0CoreService\TUDCoreService2.0.exe" />
				<ServiceInstall
      Id="MyWorkerServiceInstaller"
      Type="ownProcess"
      Name="TUDCore2.0Server"
      DisplayName="My Worker Service"
      Description="This is my .NET Core worker service."
      Start="auto"
      ErrorControl="normal"
      Account="LocalSystem"
      />
				<ServiceControl Id="StartService" Name="MyWorkerService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />

			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
